<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BattleBots.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BattleBotsCocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BattleBotsCocoaTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BattleBotsTemp copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>229CEDE91D218DF800D26904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229CEDF31D218DF900D26904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229CEE391D21910C00D26904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229CEE421D21910C00D26904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229CEE511D21912400D26904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229CEE611D21914800D26904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229CEE6A1D21914800D26904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
